#background{
    background-color: #ff4c69;
    color: white;
}
.container{
    padding: 2% 15% 7%;
}
h1{
    font-family: "ubuntu";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff;
}
.title-image{
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
    right: 28%;
}
#features{
    padding: 1% 15%;
    background-color: white;
    position: relative;
    z-index: 5;
}
.grid{
    text-align: center;
    padding: 7%;
}
#testionials{
    text-align: center;
    background-color: #ff4c69;
    color: white;
}
.text-img{
    border-radius: 100px;
    width: 100px;
    margin: 40px 20px 20px;
}
.carousel-item{
    padding: 2% 15%;
}
.testionials{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 60px;
}
#press{
    background-color: #ff4c69;
    text-align: center;
    padding-bottom: 2%;
}
.press-img{
    width: 15%;
    margin: 10px 10px 40px;
}
#pricing{
    padding: 30px;
    text-align: center;
}
.pricing-heading{
    padding: 40px auto;
}
.card-body{
    text-align: center;
}
#action{
    background-color: #ff4c68;
    color: #fff;
    padding: 3% 12%;
    text-align: center;
    padding-bottom: 0%;
}
.footer{
    text-align: center;
    color: white;
}
#footer{
    text-align: center;
    padding-top: 30px;
}